.about {
  display: flex;
  justify-content: center;
  padding: var(--space-4);
  color: var(--white);
}

.about-page {
  text-align: center;
}

.about-page p {
  font-size: calc(var(--font-lg) * 1.1);
  padding: var(--space-4);
  line-height: 1;
}

.about-page button {
  display: grid;
  justify-self: end;
  background-color: transparent;
  color: var(--white);
  text-decoration: underline;
  font-size: calc(var(--font-xl) * 1.1);
  border-radius: 4px;
}

.about-page button:hover {
  background-color: var(--white);
  color: var(--beige);
}
