.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  width: 250px;
  background-color: var(--black);
  color: var(--white);
}

.character-card figcaption span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid currentColor;
}

figcaption .name {
  font-size: var(--font-lg);
  font-weight: 700;
}

.anemo {
  color: var(--anemo);
}

.geo {
  color: var(--geo);
}

.electro {
  color: var(--electro);
}

.dendro {
  color: var(--dendro);
}

.hydro {
  color: var(--hydro);
}

.pyro {
  color: var(--pyro);
}
.cryo {
  color: var(--cryo);
}
